@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

/* 
font-family: 'IBM Plex Sans Arabic', sans-serif;
font-family: 'Ubuntu', sans-serif;

https://desciclopedia.org/wiki/Pouso_Alegre


CORES

#4F7302
#F28729
#F2CEAE
#D95D30
#A61A0D
*/

* {
  --verde: #4f7302;
  --verde-light: #afda53;
  --laranja-light: #f28729;
  --bege: #fae9db;
  --bege-light: rgba(255, 249, 245, 0.705);
  --laranja-dark: #d95d30;
  --vermelho: #664543;

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--bege);
  background-image: url(img/cidade-fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  width: 1280px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  margin-bottom: 16px;
  color: var(--laranja-dark);
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  margin-bottom: 8px;
  color: var(--laranja-dark);
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  color: var(--laranja-dark);
  margin-bottom: 32px;
}

h4 {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 30px;
  color: var(--vermelho);
  margin-bottom: 8px;
}

p {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 24px;
  color: var(--vermelho);
  margin-bottom: 24px;
}

li {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 24px;
  color: var(--vermelho);
  margin-bottom: 24px;
}

strong {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 24px;
  color: var(--laranja-light);
}

.container {
  width: 100%;
  margin: 16px 0;
  background-color: var(--bege-light);
  padding: 80px 168px;
  border-radius: 8px;
}

.menu {
  width: 100%;
  height: 80px;
  margin-bottom: 16px;
  padding: 8px 56px;
  border-radius: 8px;
  background-color: var(--bege-light);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.links ul {
  list-style: none;
  display: flex;
}

.links li {
  padding: 4px 16px;
}

.links a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: var(--verde);
  padding: 8px;

  transition: 0.5s ease;
}

.links a:hover {
  color: var(--verde-light);
}

header {
  text-align: center;
}

footer {
}

.subir {
  background-color: var(--verde);
  position: fixed;
  right: 17%;
  bottom: 1%;

  width: 112px;
  height: 96px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.5s ease;
}

.subir:hover {
  background-color: var(--verde-light);
}

footer li {
  list-style: none;
  padding: 0px 16px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer ul {
  display: flex;
}

footer h4 {
  padding-bottom: 16px;
}
